<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-coins-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Coins
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-coins-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Material</a>
                <a href="" class="dropdown-item">All Coins</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="gold-coins-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gold Coins
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gold-coins-link">
                <a href="" class="dropdown-item">Gold bullion</a>
                <a href="" class="dropdown-item">Antique gold coins</a>
                <a href="" class="dropdown-item">All gold coins</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="silver-coins-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Silver Coins
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="silver-coins-link">
                <a href="" class="dropdown-item">Silver bullion</a>
                <a href="" class="dropdown-item">Antique silver coins</a>
                <a href="" class="dropdown-item">All silver coins</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="platinum-coins-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Platinum Coins
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Platinum-coins-link">
                <a href="" class="dropdown-item">All platinum coins</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="antique-coins-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Antique Coins
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="antique-coins-link">
                <a href="" class="dropdown-item">Silver antique coins</a>
                <a href="" class="dropdown-item">Gold antique coins</a>
                <a href="" class="dropdown-item">All antique coins</a>
            </div>
        </li>
    </ul>
</div>